@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
body{
    position: relative;
    margin:0;
    padding:0;
    font-family: 'Noto Sans JP', sans-serif;
}
ul{
    top:0;
    margin:0;
    padding:0;
    width:25%;
    list-style-type:none;
    position: fixed;
    background-color:rgb(143, 223, 147);
    height:100vh;

}
ul li{
    text-align:center;
}
ul a{
    font-size:1.2rem;
    display:block;
    color:green;
    padding:0.5em;
    text-decoration:none;
}
ul a:hover{
    background-color:rgb(106, 204, 111);
    color:rgb(8, 88, 8);
}
ul a.active{
    background-color:rgb(111, 175, 111);
}
div{
    top:0;
    position: absolute;
    color:white;
    margin:0;
    opacity:0.8;
    background:url("https://images.pexels.com/photos/1883932/pexels-photo-1883932.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    height:100vh;
    margin-left:25%;
    background-position: center;
    background-size: cover;
    background-blend-mode:multiply;
}
div h1 {
    text-align:center;
    font-size:3rem;
}
h3{
    text-align:center;
    font-size:1.8rem;
}
div p{
    padding:2em;
    font-size:1.112rem;
}